<% layout("/layouts/boilerplate") %>

    <body>

        <div class="row ">
            <div class="col-8 offset-2">
                <h1>edit your listing</h1>
                <form method="POST" action="/listings/<%= listing2._id %>?_method=PUT" novalidate
                    class="needs-validation" enctype="multipart/form-data">

                    <div class="mb-3">
                        <label for="title" class="form-level">Enter title</label>
                        <input type="text" value="<%= listing2.title %>" name="listing[title]" class="form-control"
                            required>

                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-level">Enter description</label>
                        <textarea name="listing[description]" class="form-control"
                            required><%=listing2.description %></textarea>

                    </div>
                    
                    <div class="mb-3 ">

                      <img src="<%=originalimageurl %> " class="card-img-top show-image">
                    </div>

                    <div class="mb-3">
                        <label for="image">upload new image </label>
                        <input type="file" name="listing[image]" class="form-control">
                    </div>

                    <div class="row">

                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-level">Enter price</label>
                            <input type="number" name="listing[price]" value="<%= listing2.price %>"
                                class="form-control" required>

                        </div>
                        <div class="mb-3  col-md-8">
                            <label for="country" class="form-level">Enter country</label>
                            <input type="text" value="<%= listing2.country %>" name="listing[country]"
                                class="form-control" required>

                        </div>



                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-level">Enter location</label>
                        <input type="text" value="<%= listing2.location %>" name="listing[location]"
                            class="form-control" required>

                    </div>


                    <button class="btn btn-dark">edit </button>
                </form>
            </div>
        </div>





    </body>